/* Declarative Font Family */
.text-sans {
  font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
}
.text-serif {
  font-family: "Nanum Myeongjo", Georgia, "Times New Roman", serif;
}
.text-mono {
  font-family: "Nanum Gothic Coding", Menlo, Monaco, "Courier New", monospace;
}
.text-accent {
  color: #E43D32;
}

/* Author */
.author img {
  margin: -0.2rem 0.5rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  display:inline-block;
  vertical-align:middle;
  border-radius: 50%;
}
.author span {
  vertical-align:middle;
  font-family: "Nanum Myeongjo", Georgia, "Times New Roman", serif;
}

/* Post */
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

/* Author Details */
.author-profile {
  margin:0;
  padding: 0;
  border-bottom: 1px solid #eee;
}
.author-profile div.thumbnail {
  display: inline-block;
  vertical-align:top;
  width: 30%;
}
.author-profile div.thumbnail > img {
  margin: 0;
  padding: 1.5rem 0.5rem;
  border-radius: 50%;
}
.author-profile div.description {
  display: inline-block;
  vertical-align:top;
  width: 65%;
  padding: 1.5rem 0.5rem;
}
.author-profile .description > h2 {
  margin: 0 0 0.6rem;
  word-wrap:break-word;
}
.author-profile .description > h4 {
  margin: 0 0 1rem;
  word-wrap:break-word;
}
.author-profile .description a i {
  float: right;
  margin: 0 0 0 0.8rem;
  font-size: 1.5rem;
}
.author-profile .description a:hover i {
  cursor: pointer;
}
.author-profile .description a i.fa-envelope-o {
  color: #333333;
}
.author-profile .description a:hover i.fa-envelope-o {
  color: #767676;
}
.author-profile .description a i.fa-github {
  color: #333333;
}
.author-profile .description a:hover i.fa-github {
  color: #767676;
}
.author-profile .description a i.fa-facebook-official {
  color: #3b5998;
}
.author-profile .description a:hover i.fa-facebook-official {
  color: #8b9dc3;
}

/* Youtube Player with Caption */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 4rem auto;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Image with Link and Caption */
.include-image a {
  color: #515151;
}
.include-image a:hover {
  color: #ED7D76;
}
.include-image div {
  text-align: center;
  margin: -3rem auto 4rem;
}
.include-image img {
  max-width: 90%;
  margin: 4rem auto;
}
