.container > .content h1,
.container > .content h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.container > .content h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.container > .content h4,
.container > .content h5,
.container > .content h6 {
  margin-top: 1rem;
}
.container > .content h1,
.container > .content h2,
.container > .content h3,
.container > .content h4,
.container > .content h5,
.container > .content h6 {
  line-height: 1.5;
  font-weight: 500;
}
.container > .content h4 + div pre,
.container > .content h5 + div pre,
.container > .content h6 + div pre {
  margin-top: -0.4rem;
}
.container > .content li div pre {
  margin-top: 0.25rem;
}

.container > .content ul,
.container > .content ol {
  padding-left: 2rem;
}
.container > .content blockquote {
  border-left-width: 0.15rem;
  padding-left: 1rem;
}
