---
layout: default
---
{% assign author = site.authors[page.author] %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="author">
    <span>{{ page.date | date: "%Y년 %m월 %d일" }} | {{ author.name }}</span>
    <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
  </div>
</div>

<div class="content">
  {{ content }}
</div>

<div class="author-profile">
  <div class="thumbnail">
    <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=200">
  </div>
  <div class="description">
    <h2>
      {{ author.name }}
      {% if author.facebook %}
        <a target="_blank" href="{{ author.facebook }}">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </a>
      {% endif %}
      {% if author.github %}
        <a target="_blank" href="http://github.com/{{ author.github }}">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {% endif %}
    </h2>
    <h4>{{ author.description }}</h4>
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small> | {{ post.date | date: "%Y년 %m월 %d일" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
